body
{
  background-color: #E1E1E1;
}

small
{
  color: #a4a4a4;
}

a, a:visited
{
  color: #6E6E6E;
}

a:hover, a:active
{
  text-decoration: none;
}

#content-container
{
  background-color: #ffffff;
}

#title a
{
  text-decoration: none;
  color: #555555;
}

#title a:hover
{
  color: #747474;
}

#title h1
{
  text-shadow: 1px 1px 1px #000000;
}

#header
{
  color: #000000;

  background-color: #ffffff;
  background-image: url('gradient-black-tiny-updown.png');
  background-repeat: repeat-x;
  background-position: left bottom;
}

#project_selection
{
  color: #C6C6C6 !important;
}

#project_selection:hover
{
  color: #D8D5D5 !important;
}

#current_user_header
{
  text-shadow: 1px 1px 1px #ffffff;
}

#current_user_header a
{
  color: #8C8C8C;
  text-decoration: none;
  font-weight: bold;
}

#current_user_header a:hover
{
  color: #BCBCBC;
}

.title.darkest, .bg-darkest
{
  color: #ffffff;
  background-color: #515555;
}

.title.dark, .bg-dark
{
  color: #ffffff;
  background-color: #6b7f87;
}

.title.light, .bg-light
{
  color: #000000;
  background-color: #95d4f0;
}

.title.lightest, .bg-lightest
{
  color: #555555;
  background-color: #E4E4E4;
}

.font.light-gray
{
  color: #a4a4a4;
}

.background.light-gray
{
  background-color: #a4a4a4;
}

.tooltip
{
  color: #555555;
  background-color: #DEDEDE;

  padding: 10px;
}

.fieldWithErrors
{
  color: #E63333 !important
}

.bg-normal
{
  background-color: #EEEEEE;
}


#left-column-content.gradient-division
{
  background-image: url("../right-sidebar-top.png");
  background-position: right top;
  background-repeat: no-repeat;
  padding-right: 50px;
}

#left-column.gradient-division
{
  background-image: url("../right-sidebar.png");
  background-position: right top;
  background-repeat: repeat-y;
}

#left-column-content-bottom.gradient-division
{
  background-image: url("../right-sidebar-bottom.png");
  background-position: right top;
  background-repeat: repeat-y;
  height: 88px;
}

.tabs li a
{
  background-image: url(../tab-overlay.png);
  background-color: #C1C1C1;
  color: #ffffff;
    text-shadow: 0px 0px 0px !important;
}

.tabs li a:hover
{
  background-color: #969696;
  color: #ffffff;
}

.tabs .selected a
{
  background-image: url(../tab-overlay-white.png) !important;
  background-color: #D6D6D6 !important;
  color: #666666 !important;
  text-shadow: 0px 0px 0px !important;
}

.tabs .selected.has-sub-tabs a
{
  background-image: url() !important;
  background-color: #F3F3F3 !important;
  color: #666666 !important;
  text-shadow: 0px 0px 0px !important;
}

#sub-tabs
{
  background-color: #F3F3F3;

  border-bottom: 1px solid #E8E8E8;
}

#sub-tabs a
{
  color: #A9A9A9;
}

#sub-tabs a:hover
{
  color: #4B4B4B;
}

#sub-tabs.selected li
{
  color: #595959;
}

.basic-table .odd {
  background-color: #f8fcff;
}

.basic-table th {
  background-image: url(../table-header-overlay.png);
  background-repeat: repeat-x;
  background-color: #E9E9E9;
  border-top: 1px solid #D3D3D3;
  color: #3b3b3b;
  text-shadow: 2px 2px 1px #ffffff;
}

.basic-table td {
  border-top: 1px solid #eaeaea;
}

.basic-table tr:hover {
  background-color: #FEFFF0 !important;
}

.basic-table thead th:first-child {
  border-left: 1px solid #D3D3D3;
}

.basic-table thead th:last-child {
  border-right: 1px solid #D3D3D3;
}

.basic-table tfoot td:first-child {
  border-left: 1px solid #D3D3D3;
}

.basic-table tfoot td:last-child {
  border-right: 1px solid #D3D3D3;
}

.basic-form legend
{
  color: #555555;
}

.green.awesome, .green.awesome:visited
{
  background-color: #f5f5f5;
    color: #939393;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.0);
}
.green.awesome:hover
{
  background-color: #757575;
    color: #ffffff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.silver.awesome, .silver.awesome:visited
{
  color: #939393;
  background-color: #f5f5f5;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.0);
}
.silver.awesome:hover
{
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.icon-list dt
{  
  color: #7E7E7E;
}

.pagination a:link, .pagination a:visited
{
  border: 1px solid #EBEBEB;
  background-color: #F5F5F5;
  color: #0072bc;
}

.pagination a:hover 
{
  background-color: #DDFFE9;
  border: 1px solid #BBDDFF;
  color: #0072BC;  
}

.pagination .current 
{
  border: 1px solid #BBFFEF;
  background-color: #DDFFE9;
  color: #0072BC;
}

.pagination .disabled {
  border: 1px solid #EBEBEB;
  background-color: #F5F5F5;
  color: #D7D7D7;
}