#left-column-content.gradient-division
{
  background-image: url("");
  background-position: right top;
  background-repeat: no-repeat;
  padding-right: 50px;
}

#left-column.gradient-division
{
  background-image: url("");
  background-position: right top;
  background-repeat: repeat-y;
}

#left-column-content-bottom.gradient-division
{
  background-image: url("");
  background-position: right top;
  background-repeat: repeat-y;
  height: 88px;
}