.pagination a:link, .pagination a:visited
{
  border: 1px solid #EBEBEB;
  background-color: #F5F5F5;
  color: #BC0000;
}

.pagination a:hover 
{
  background-color: #DDEEFF;
  border: 1px solid #BBDDFF;
  color: #BC0000;
}

.pagination .current 
{
  border: 1px solid #BBDDFF;
  background-color: #DDEEFF;
  color: #BC0000;
}

.pagination .disabled {
  border: 1px solid #EBEBEB;
  background-color: #F5F5F5;
  color: #D7D7D7;
}