.basic-form legend
{
	color: #555555;
}

.green.awesome, .green.awesome:visited
{
	background-color: #f5f5f5;
    color: #939393;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.0);
}
.green.awesome:hover
{
	background-color: #757575;
    color: #ffffff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.silver.awesome, .silver.awesome:visited
{
	color: #939393;
	background-color: #f5f5f5;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.0);
}
.silver.awesome:hover
{
	color: #ffffff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}