.pagination a:link, .pagination a:visited
{
  border: 1px solid #EBEBEB;
  background-color: #F5F5F5;
  color: #0072bc;
}

.pagination a:hover 
{
  background-color: #DDFFE9;
  border: 1px solid #BBDDFF;
  color: #0072BC;  
}

.pagination .current 
{
  border: 1px solid #BBFFEF;
  background-color: #DDFFE9;
  color: #0072BC;
}

.pagination .disabled {
  border: 1px solid #EBEBEB;
  background-color: #F5F5F5;
  color: #D7D7D7;
}