<div class="tabmeplz basic-tab-container">
  <h1 class="tab-title"><%= room %></h1>
  <% devices.each do |device| %>
    <%= render "device", :device => device, :house => @house, :user => @user %>
  <% end %>
</div>