<p class="center">
  <%= awesome_button t(:label, :scope => [:device, :discover]), "search-small",
	        :href => discover_user_house_devices_url(current_user, house),
	        :class => "green large small discover-devices title-me",
	        :title => t(:title, :scope => [:device, :discover]) %>
</p>