<% @devices.each do |device| %>
  <%= simple_format "#{device} #{link_to("actions", new_user_house_device_action_url(@user, @house, device))}" %>
<% end %>

<% content_for :navigation do %>
  <% render :layout => "layouts/main_navigation" do %>
    <%= render :partial => "layouts/navigation/devices_item", :locals => {:classes => "selected tab-separator", :house => @house, :user => @user} %>
  <% end %>
<% end %>


<% content_for :sub_navigation do %>
  <div id="sub-tabs">
    <ul>
      <%= render :partial => "layouts/navigation/add_edit_discover_item", :locals => {:classes => "tab-separator", :house => @house, :user => @user} %>
    </ul>
  </div>
<% end %>