h1
{
	font-size: 38px;
	color: #145B9A;	
}
h1 span
{
	color: #000000;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  background : #ffc none;
}

#login-form
{
	width: 45%;
	min-width: 600px;	
	margin: 0 auto;
	padding-top: 6%;	
}

#login-form fieldset
{
	padding: 20px;
	background-image: url("background-gradient-inverted-70.png"); 
	background-repeat: repeat-x;
	background-position: bottom;
	
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	
	border: 0px;
}

#login-form fieldset fieldset
{
	background-image: url('/stylesheets/background-gradient-80.png'); 
	background-position: top;
}

#login-form legend
{
	font-size: 48px;
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: 4px 4px 6px #C7C7C7;
}

#login-form input
{
	width: 80%;
	font-size: 18px;
}

.awesome
{
	font-size: 16px !important;
}

#login-footer
{
	width: 90%;
	padding: 10px 30px 0px 30px;
	color: #5C5C5C;
	
}

#footer-links a
{
	margin-right: 5px;
}