#right-column a
{
	font-size: 11px;
}

.vote-button
{
	line-height: 21px;
	width: 40px;
}

#available_votes h2
{
	font-size: 26px;
}

/* --------------------------
 * Tag Cloud
 */

.tag-cloud-1 { font-size: 11px !important; color: #c0c0c0 !important; word-spacing: 7px !important; }
.tag-cloud-2 { font-size: 13px !important; color: #b0b0b0 !important }
.tag-cloud-3 { font-size: 16px !important; color: #959595 !important }
.tag-cloud-4 { font-size: 20px !important; color: #707070 !important }
.tag-cloud-5 { font-size: 23px !important; color: #505050 !important }

.tag-cloud
{
	text-align: center;
	word-spacing: 10px;
	line-height: 20px;
}

.tag-cloud a
{
	text-decoration: none;
	color: #a5a5a5;
	font-weight: bold;
}

.tag-cloud a:hover
{
	color: #d0d0d0 !important;
}

a.vote-quantity-link
{
	color: #ffffff;
}

a.vote-quantity-link:hover
{
	background-color: #d0d0d0;
}



/* --------------------------
 * Suggestion
 */

#suggestions hr
{
	margin-top: 20px;
	margin-bottom: 20px;
}

div.suggestion
{
	clear: left;
	color: #333333;
	padding: 15px 0;
	margin-bottom: 10px;
}

div.vote-div
{
	float: left;
	margin: 0 0 5px;
	width: 80px;
}

div.suggestion div.indented
{
	margin-left: 100px;
}

.suggestion .suggestion-title
{
	margin-bottom: 10px;
}

.suggestion h2
{
	font-size: 18px;
}

.suggestion h3
{
	font-size: 26px;
}

/* --------------------------
 * Votes
 */

.votes-box a
{
	padding: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 0px;
	text-decoration: none;
	width: 22px;
	
	font-size: 16px;
	font-weight: bold;
	
	color: #0072bc;
}

.votes-box a:hover
{
	background-color: #079CFF;
	color: #ffffff;	
}

.votes-box .current_vote
{
	color: #ffffff;	
	background-color: #FF5C00;	
}

/* --------------------------
 * Comments
 */

div.comment
{
	/*border-bottom: 1px solid #DDDDDD;*/
	clear: left;
	color: #333333;
	padding: 15px 0;
	margin-bottom: 10px;
}

img.avatar
{
	float: left;
	margin: 0 0 5px;
	width: 48px;
}

div.comment div.indented
{
	margin-left: 60px;
}

div.comments div.comment_header h3 
{
	margin: 0 0 5px;
}

div.comments div.comment_header h3 a.delete
{
	float: right;
	text-align: center;
	width: 40px;
}

div.comments div.comment_header h3 a.permalink
{
	margin-right:2px;
}

div.comments div.comment_header h3 a.permalink:hover
{
	color:#333333;
}

.comment.admin
{
	background-color: #EDF9FC;
}
