<p class="center">
  <%= awesome_button t(:find_actions, :scope => :action), "search-small",
          :href => find_user_house_device_actions_url(user, house, device),
          :class => "green large find-device-actions title-me",
          :title => t(:find_actions_button, :scope => [:action, :hints]) %>
</p>