<% @schedules.each do |s| %>
  <%= s.timing %>
<% end %>


<% content_for :navigation do %>
  <% render :layout => 'layouts/main_navigation' do %>
    <%= render :partial => 'layouts/navigation/devices_item', :locals => {:classes => 'tab-separator', :house => @house, :user => @user} %>
    <%= render :partial => 'layouts/navigation/schedule_item',
      :locals => {:classes => 'selected', :house => @house, :user => @user, :device => @device, :action => @action} %>
  <% end %>
<% end %>


<% content_for :sub_navigation do %>
  <div id='sub-tabs'>
    <ul>
      <%= render :partial => 'layouts/navigation/add_edit_schedule_item',
        :locals => {:classes => 'tab-separator', :house => @house, :user => @user, :device => @device, :action => @action} %>
    </ul>
  </div>
<% end %>
