.basic-table .odd {
  background-color: #f8fcff;
}

.basic-table th {
  background-image: url(../table-header-overlay.png);
  background-repeat: repeat-x;
  background-color: #DADADA;
  border-top: 1px solid #D0D1D1;
  color: #313131;
  text-shadow: 2px 2px 1px #ffffff;
}

.basic-table td {
  border-top: 1px solid #eaeaea;
}

.basic-table tr:hover {
  background-color: #FEFFF0 !important;
}

.basic-table thead th:first-child {
  border-left: 1px solid #D0D1D1;
}

.basic-table thead th:last-child {
  border-right: 1px solid #D0D1D1;
}

.basic-table tfoot td:first-child {
  border-left: 1px solid #D0D1D1;
}

.basic-table tfoot td:last-child {
  border-right: 1px solid #D0D1D1;
}