<h1>Welcome to iHouse!</h1>
<small>Domotic Ruby on Rails System</small>
<br/><br/>

<p>iHouse project developed by Guilherme da Silva Mello (guimello) as requirement for a Computer Engineering Diploma</p>
<p>College: USF - Universidade São Francisco</p>
<p>Advisor: Prof. Dr. Claudio Kiyoshi Umezu</p>