.tabs li a
{
	background-image: url(../tab-overlay.png);
	background-color: #B34EB2;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
}

.tabs li a:hover
{
	background-color: #EC8FE9;
	color: #ffffff;
}

.tabs .selected a
{
	background-image: url(../tab-overlay-white.png) !important;
	background-color: #F1D7F2 !important;
	color: #8F3E8C !important;
	text-shadow: 0px 0px 0px !important;
}

.tabs .selected.has-sub-tabs a
{
	background-image: url() !important;
	background-color: #FFF3FF !important;
	color: #8F3E8E !important;
	text-shadow: 0px 0px 0px !important;
}

#sub-tabs
{
	background-color: #FFF3FE;
	
	border-bottom: 1px solid #FFF3FF;
	border-bottom: 1px solid #FAE3F9;
}

#sub-tabs a
{
	color: #A95CA3;
}

#sub-tabs a:hover
{
	color: #61195E;
}

#sub-tabs.selected li
{
	color: #61195D;
}