<div id="login-footer">    
  <div id="footer-links" class="float-left">
    Developed by <b>guimello</b>
    <br/>    
    <%= link_to 'FAQ', '#' %>
  </div>
  
  <div class="float-right">
    <span class="float-right right">ihouse@ihouse.com</span>
    <br/>
    <%= link_to "suggestions?", "#", :class => "float-right" %>
  </div>
  
  <div class="clear"></div>    
</div>