<div id="login-footer">    
  <%= image_tag "logo-mini.png", :class => "float-left transparent-65", :style => "margin-right: 10px" %>
      
  <div id="footer-links" class="float-left">
    Copyright &copy; 2010 developed by 
    <span class="inhousetools-logo-out">some<span class="inhousetools-logo-in">one</span>lol</span>
    <br/>    
    <%= link_to "sth", "#" %>
    <%= link_to "youtube", "#" %>
  </div>
  
  <div class="float-right">
    <span class="float-right right">lol@lol.com</span>
    <br/>
    <%= link_to "suggestions?", "#", :class => "float-right" %>
  </div>
  
  <div class="clear"></div>    
</div>