<ul id="left-tabs" class="tabs">
	<li <%= "class='selected'" if controller.controller_name == "application" and controller.action_name == "main" %>>
		<%= link_to t(:home, :scope => [:navigation]), root_url %>
	</li>        
	<%= yield %>
</ul>